* {
  padding: 0px;
  margin: 0px;
}

.titulo {
  background-color: #ebb7bf;
  padding: 30px;

}

.tituloo {
  background-color: #ebb7bf;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sub {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  padding: 30px;
  font-size: x-large;
}

.foto {
  color: rgb(56, 22, 56);
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 20px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.subtitulo {
  background-color: #393e46;
  color: white;
  display: flex;
  font-size: 10px;
  padding: 9px;

}

p {
  color: black;
}

body {
  color: #393e46;
  text-align: center;
}

h3 {
  color: #393e46;
  text-align: center;
}

.todas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  margin: 20px;
  font-size: 20px;
}

.rodape {
  background-color: #ebb7bf;
  padding: 10px;
  bottom: 0px;
  position: sticky;
  text-align: center;
  font-size: 25px;
}

.pagamento {
  display: flex;
  text-align: center;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: space-around;
  color: black;
  margin: 20px;
}

.categoria {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  font-size: 20px;
}

.cards {
  padding: 20px 100px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  text-align: center;
  box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 15px 15px;
  width: 20vw;
}

.card h3 {
  margin-top: 40px;
}

.card .foto1 {
  background-image: url(fundo\ calças.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px 40px;
}

.card .foto2 {
  background-image: url(fundo\ shorts.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px 40px;
}

.card .foto3 {
  background-image: url(fundo\ saias.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px 40px;
}
.card:hover {
  box-shadow: 3px 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.textoo {
  background-color: #ebb7bf;
  border: #ebb7bf;
  color: black;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  transition: all .3s ease;
  width: 80%;;
  height: 20%;;
}

.texto {
  background-color: #ebb7bf;
  border: #ebb7bf;
  color: black;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  transition: all .3s ease;
  width: 100%;;
  height: 20%;;
}
